.NavbarContainer {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    z-index: 999;
    border-bottom: solid #000 1px;
    backdrop-filter: blur(5px);
}
.Navbar {
    width: 100%;
    max-width: 1000px;
    padding: 7px;
    position: relative;
}
.Navbar .option, .recipes {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 16px;
}
.Navbar .option:hover, .recipes:hover, .dropdown a:hover, .categorie:hover {
    background-color: rgba(216, 216, 216, 0.6);
    backdrop-filter: blur(5px);
}
.recipes {
    cursor: default;
    display: inline;
    position: relative;
}
.helpElement {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
}
.recipesContainer {
    display: inline;
}

.currentPage {
    font-weight: 500;
}

@media (min-width: 1440px) {
    .Navbar, .contentContainer {
        max-width: 1400px;
    }
}


.dropdown {
    position: fixed;
    top: 54px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    display: flex;
    justify-content: center;
    z-index: 999;
    border-bottom: solid #000 1px;
    backdrop-filter: blur(5px);
    left: 0;
}

.dropdown .categorie {
    font-size: 16px;
    color: #000;
    text-decoration: none;
    padding: 8px 16px;
    cursor:default;
}
.categories, .subCategories {
    display: flex;
    flex-direction: column;
    max-width: 240px;
    border-left: solid #000 1px ;
}
.subCategories .sub {
    cursor: pointer;
}
.contentContainer {
    display: flex;
    width: 100%;
    padding: 0px 16px;
}

.myRecipes {
    cursor: pointer !important;
}

.loginBtn , .registerBtn {
    margin: 0px 8px;
}
.loginBtn button, .registerBtn button {
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}
.loginBtn button {
    background-color: #efefef;
    border: 1px solid #bbbbbb;
}
.registerBtn button {
    background-color: #f35d00;
    color: #f0f0f0;
    font-weight: 500;
    border: 1px solid #311300;
}